html, body, #home, #about, #portfolio, #contact {
  background-color: black;
  height: auto;
  min-height: 100vh;
}

#home {
  background-image: url('../images/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  padding: 25%;
  background-size: 600px 600px;
  text-align: center;
  padding-top: 3em;
  font-size: 2.5em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

.blockquote {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cyan;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}

#mainNav {
  font-family: 'Special Elite', cursive;
  font-size: 1.7em;
  line-height: 4em;
  padding: 0 1em;
  position: fixed;
  top: 0em;
  width: 100%;
}

#mainNav a, #mainNav a:link, #mainNav a:visited, #mainNav a:hover, #mainNav a:active {
  color: cyan;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
}

#mainNav a:hover {
  color: whitesmoke;
}

#about {
  background-image: url('../images/original.gif');
  background-repeat: no-repeat;
  background-position: top center;
  /* moves the raining colors down */
  padding: 10%;
  background-size: 650px 650px;
  text-align: center;
  padding-top: 3em;
  font-family: 'Special Elite', cursive;
  font-size: 2.7em;
  color: cyan;
}

h5 {
  font-family: 'Special Elite', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: justify;
  margin-right: 150px;
  margin-left: 80px;
}

#portfolio {
  text-align: center;
  padding-top: 3.2em;
  font-size: 2.5em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

* {
  box-sizing: border-box;
}

.column {
  float: none;
  width: 33.00%;
  padding: 10px;
 
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#contact {
  text-align: center;
  padding-top: 1.5em;
  font-size: 3em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(7, 236, 225, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(213, 38, 84);
}

#fab a, #fab a:link, #fab a:visited, #fab a:hover, #fab a:active {
  color: rgb(141, 160, 34);
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}

#fab a:hover {
  color: cyan;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 32px;
}

.footer {
  text-align: center;
  font-size: 13px;
  color: cyan;
  position: fixed;
  left: 0;
  bottom: -1%;
  width: 100%;
  background-color: black;
}

@media screen and (max-width:800px) {
  .contacts-info {
    flex-direction: column;
  }
  .cards {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}