html, body, #page-one, #page-two, #page-three, #page-four {
  background-color: black;
  height: auto;
  min-height: 100vh;
}

/* Everything on page-one */

#page-one {
  background-image: url('./images/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  padding: 25%;
  background-size: 600px 600px;
  text-align: center;
  padding-top: 3em;
  font-size: 2.5em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

.blockquote {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: cyan;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}

#mainNav {
  font-family: 'Special Elite', cursive;
  font-size: 1.7em;
  line-height: 4em;
  padding: 0 1em;
  position: fixed;
  top: 0em;
  width: 100%;
}

#mainNav a, #mainNav a:link, #mainNav a:visited, #mainNav a:hover, #mainNav a:active {
  color: cyan;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em;
}

#mainNav a:hover {
  color: whitesmoke;
}

/**************************************************************************************/

/* Everything on page-two */

#page-two {
  background-image: url('./original.gif');
  background-repeat: no-repeat;
  background-position: top center;
  /* moves the raining colors down */
  padding: 10%;
  background-size: 650px 650px;
  text-align: center;
  padding-top: 3em;
  font-family: 'Special Elite', cursive;
  font-size: 2.7em;
  color: cyan;
}

h5 {
  font-family: 'Special Elite', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: justify;
  margin-right: 150px;
  margin-left: 80px;
}

/* skills section */

/* .column {
  float: center;
  width: 15%;
  padding: 0 0px;
  
} */

/* Clear floats after the columns */

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the counter cards */

/* .cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  left: 0;
  background-color: #000000;
  color: cyan;
  
} */

/**************************************************************************************/

/* Everything on page-three */

#page-three {
  text-align: center;
  padding-top: 2em;
  font-size: 2.5em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

.con-tainer {
  width: 95vw;
  height: 88vh;
  display: flex;
  flex-flow: row;
  perspective-origin: center;
  position: relative;
}

.col {
  height: 90%;
  width: 95vh;
  transition: transform 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  transform: translateZ(34px) scale(.98);
  flex: 0 0 33.3333%;
  position: relative;
}

.col:nth-of-type(3) {
  transform: rotateY(-5deg) translateZ(34px) scale(.98);
}

.col:hover, .col:focus {
  transform: translateZ(34px);
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
}

.card-container {
  position: relative;
  width: calc(100% - 25px);
  height: calc(33.3% - 25px);
  margin: 25px;
  padding: 8px;
  text-align: center;
}

.overlay {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1) {
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2) {
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4) {
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover~.card, .overlay:nth-of-type(1):focus~.card {
  transform-origin: right top;
  transform: rotateX(3deg) rotateY(-3deg) translateZ(0);
}

.overlay:nth-of-type(2):hover~.card, .overlay:nth-of-type(2):focus~.card {
  transform-origin: left top;
  transform: rotateX(3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(3):hover~.card, .overlay:nth-of-type(3):focus~.card {
  transform-origin: left bottom;
  transform: rotateX(-3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(4):hover~.card, .overlay:nth-of-type(4):focus~.card {
  transform-origin: right bottom;
  transform: rotateX(-3deg) rotateY(-3deg) translateZ(0);
}

.card {
  border-radius: 5px;
  height: 100%;
  transition: all 300ms ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  padding: 13px 21px;
}

.card:before, .card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
  transform: scale(.98);
}

.card:before {
  background-size: contain;
  background-position: 50% 50%;
}

.card-container:hover .card:before, .card-container:hover .card:after, .card-container:focus .card:before, .card-container:focus .card:after {
  opacity: .34;
  transform: scale(1);
}

.col:nth-of-type(1) .card-container:nth-of-type(1) .card:before {
  background-image: url('./images/chess.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(1) .card:before {
  background-image: url('./images/liri_node_app.gif');
}

.col:nth-of-type(3) .card-container:nth-of-type(1) .card:before {
  background-image: url('./images/tiny.png');
}

.col:nth-of-type(1) .card-container:nth-of-type(2) .card:before {
  background-image: url('./images/friendfinder.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(2) .card:before {
  background-image: url('./images/burger.png');
}

.col:nth-of-type(3) .card-container:nth-of-type(2) .card:before {
  background-image: url('./images/clicky.png');
}

.col:nth-of-type(1) .card-container:nth-of-type(3) .card:before {
  background-image: url('./images/mys.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(3) .card:before {
  background-image: url('./images/express.png');
}

.col:nth-of-type(3) .card-container:nth-of-type(3) .card:before {
  background-image: url('./images/teal.png');
}

.card:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.89) 100%);
}

h4 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  transform: translateY(5px);
  transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  max-width: 320px;
  outline: 1px solid transparent;
}

.overlay:hover~.card h4, .overlay:focus~.card h4 {
  transform: translateZ(144px);
}

.card>span {
  font-size: 34px;
  opacity: 0;
  transform: translateX(-3px);
  transition: all 300ms ease;
}

.card-container:hover>.card>h4, .card-container:focus>.card>h4 {
  transform: translateY(-13px);
}

.card-container:hover>.card>span, .card-container:focus>.card>span {
  opacity: 1;
  transform: translateX(3px);
  animation: slideRight 300ms ease;
}

/**************************************************************************************/

/* Everything on page-four */

#page-four {
  text-align: center;
  padding-top: 4em;
  font-size: 3em;
  color: cyan;
  font-family: 'Special Elite', cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}

/* .contact-info {
  display: flex;
  width: 55%;
  margin: auto;
  padding: 50px;
  max-width: 800px;
  align-items: center;
  font-size: 18px;
  padding: 0 50px;
  
} */

/* .cards {
  padding: 0 50px;
  margin: 0 5px;
  width: calc(33% - 20px);
  height: 155px;
  display: flex;
  flex-direction: column;

  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0);
  color: cyan;
  cursor: pointer;
}  */

/* .card-icon {
  font-size: 25px;
  background: black;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 25%;
  transition: 0.3s linear;
} */

/* .cards:hover .card-icon {
  background: none;
  color:  cyan;
  transform: scale(1.6);
} */

/* .cards p{
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
} */

/* .cards:hover p{
  max-height: 40px;
  opacity: 1;

} */

/* img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
} */

.cards {
  box-shadow: 0 4px 8px 0 rgba(7, 236, 225, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.title {
  color: grey;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(141, 160, 34);
}

#fab a, #fab a:link, #fab a:visited, #fab a:hover, #fab a:active {
  color: rgb(141, 160, 34);
  text-decoration: none;
  display: inline-block;
  padding: 0 .1em;
  font-size: 32px;
}

#fab a:hover {
  color: cyan;
}

h1 {
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Caveat', cursive;
  font-size: 32px;
}

.footer {
  text-align: center;
  font-size: 13px;
  color: cyan;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

/* Responsive columns */

@media screen and (max-width:800px) {
  .contacts-info {
    flex-direction: column;
  }
  .cards {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}