body {
  background-color: black;
  background-image: url('../images/original.gif');
  background-repeat: no-repeat;
  background-position: center;
  /* moves the raining colors down */
  padding: 3%;
  background-size: 600px 600px;
}

.top-right {
  position: absolute;
  top: 50px;
  margin: 0px;
  font-family: 'Special Elite', cursive;
  color: #bbff00;
}

h5 {
  font-family: 'Special Elite', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: justify;
  margin-right: 150px;
  margin-left: 80px;
}

a, a:link {
  color: cyan;
}



div.container a {
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  margin: 10px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  left: 10%;
  font-size: 33px;
}

.teal {
  font-family: 'Special Elite', cursive;
  margin: 0% auto;
  padding: 0em;
}

/* Border from Y to X  */

div.borderYtoX a:before, div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #bbff00;
  transition: all 0.3s;
}

div.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

/* skills section */

.column {
  float: right;
  width: 18%;
  padding: 0 20px;
}

.row {
  margin: 10px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 18px;
  text-align: center;
  background-color: #212121;
  color: cyan;
}

.fab {
  font-size: 40px;
}

/* port-section*/

.con-tainer {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  perspective-origin: center;
}

.col {
  height: 90%;
  transition: transform 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
  transform: translateZ(34px) scale(.98);
  flex: 0 0 33.3333%;
  position: relative;
}

.col:nth-of-type(3) {
  transform: rotateY(-5deg) translateZ(34px) scale(.98);
}

.col:hover, .col:focus {
  transform: translateZ(34px);
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000), opacity 300ms ease;
}

.card-container {
  position: relative;
  width: calc(100% - 25px);
  height: calc(33.3% - 25px);
  margin: 20px;
  padding: 8px;
  text-align: center;
}

.overlay {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1) {
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2) {
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4) {
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover~.card, .overlay:nth-of-type(1):focus~.card {
  transform-origin: right top;
  transform: rotateX(3deg) rotateY(-3deg) translateZ(0);
}

.overlay:nth-of-type(2):hover~.card, .overlay:nth-of-type(2):focus~.card {
  transform-origin: left top;
  transform: rotateX(3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(3):hover~.card, .overlay:nth-of-type(3):focus~.card {
  transform-origin: left bottom;
  transform: rotateX(-3deg) rotateY(3deg) translateZ(0);
}

.overlay:nth-of-type(4):hover~.card, .overlay:nth-of-type(4):focus~.card {
  transform-origin: right bottom;
  transform: rotateX(-3deg) rotateY(-3deg) translateZ(0);
}

.card {
  border-radius: 5px;
  height: 100%;
  transition: all 300ms ease-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  z-index: 0;
  padding: 13px 21px;
}

.card:before, .card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
  transform: scale(.98);
}

.card:before {
  background-size: contain;
  background-position: 50% 50%;
}

.card-container:hover .card:before, .card-container:hover .card:after, .card-container:focus .card:before, .card-container:focus .card:after {
  opacity: .34;
  transform: scale(1);
}

.col:nth-of-type(1) .card-container:nth-of-type(1) .card:before {
  background-image: url('../images/chess.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(1) .card:before {
  background-image: url('../images/liri_node_app.gif');
}

.col:nth-of-type(3) .card-container:nth-of-type(1) .card:before {
  background-image: url('../images/tiny.png');
}

.col:nth-of-type(1) .card-container:nth-of-type(2) .card:before {
  background-image: url('../images/friendfinder.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(2) .card:before {
  background-image: url('../images/burger.png');
}

.col:nth-of-type(3) .card-container:nth-of-type(2) .card:before {
  background-image: url('../images/clicky.png');
}

.col:nth-of-type(1) .card-container:nth-of-type(3) .card:before {
  background-image: url('../images/mys.png');
}

.col:nth-of-type(2) .card-container:nth-of-type(3) .card:before {
  background-image: url('../images/express.png');
}

.col:nth-of-type(3) .card-container:nth-of-type(3) .card:before {
  background-image: url('../images/teal.png');
}

.card:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.89) 100%);
}

h4 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  transform: translateY(5px);
  transition: transform 450ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  max-width: 320px;
  outline: 1px solid transparent;
}

.overlay:hover~.card h4, .overlay:focus~.card h4 {
  transform: translateZ(144px);
}

.card>span {
  font-size: 34px;
  opacity: 0;
  transform: translateX(-3px);
  transition: all 300ms ease;
}

.card-container:hover>.card>h4, .card-container:focus>.card>h4 {
  transform: translateY(-13px);
}

.card-container:hover>.card>span, .card-container:focus>.card>span {
  opacity: 1;
  transform: translateX(3px);
  animation: slideRight 300ms ease;
}

.w3-bar .w3-button {
  color: gainsboro;
}

/* Contact section */

*{
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.cards {
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background: #212121;
  color: cyan;
  cursor: pointer;
}

.card-icon {
  font-size: 35px;
  background: black;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.cards:hover .card-icon {
  background: none;
  color:  cyan;
  transform: scale(1.6);
}

.cards p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.cards:hover p{
  max-height: 40px;
  opacity: 1;

}

.footer {
  text-align: center;
  color: cyan;
}


/* Responsive columns */
@media screen and (max-width:800px) {
  .contacts-info{
    flex-direction: column;
  }
  .cards{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}




/* 
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
} */
